<div class="filters">
  <div class="filter-labels formContainer">
    <form action="/issue/filterissue" method="post">
      <select name="label1">
        <% for( op of labelsonCurr ) {%>
        <option value="<%= op %>"><%= op %></option>

        <%}%>
      </select>
      <select name="label2">
        <% for( op of labelsonCurr ) {%>
        <option><%= op %></option>

        <%}%>
      </select>
      <input
        type="text"
        placeholder="Search Author"
        class="form-fields"
        name="searchAuthor"
      />
      <input
        type="hidden"
        name="projectId"
        class="form-fields"
        value="<%= project._id %>"
      />
      <input type="submit" value="search" class="form-fields" />
    </form>
  </div>
  <div class="formContainer">
    <!-- form for search title and description -->
    <form id="searchAuthor" action="/issue/filterissue" method="post">
      <input
        class="form-fields"
        type="text"
        name="serchBtTitNDesc"
        placeholder="Enter title or description to be searched"
      />
      <input
        type="hidden"
        value="<%= project._id %>"
        name="projectId"
        class="form-fields"
      />
      <input type="submit" value="Search" class="form-fields" />
    </form>
  </div>
</div>
<div id="projectDetSection">
  <% if(showProjectDet) {%>
  <div class="descBox">Bugs relate to <%= project.projectname%> project</div>
  <div class="projectDetail">
    <p class="descBox">Project Name -> <%= project.projectname%></p>
    <p class="descBox">Author Name -> <%= project.author%></p>
    <p class="descBox">Author Name -> <%= project.description%></p>

    <div class="issuebox">
      <ul>
        <% for(isdec of issue ){ %>
        <li>
          <div>issue Title: <%= isdec.title %></div>
          <div>description : <%= isdec.description %></div>
          <div>Author: <%= isdec.author %></div>
          Lable:-> <% for(label of isdec.labels){ %> <%= label %> <%}%>
        </li>
        <%}%>
      </ul>
    </div>
    <div>
      <a class="reportissuecl" href="/issue/reportIssue/<%= project._id %>"
        >Report Issue</a
      >
    </div>
  </div>
  <% } %> <% if(!showProjectDet) {%> <% for(i of filterdata) {%>
  <div>
    <p><%= i.title %></p>
    <p><%= i.description %></p>
    <p><%= i.labels %></p>
    <p><%= i.author %></p>
  </div>

  <!--  -->
  <%}%>
  <!--  -->
  <%}%>
  <script src="/js/searchAuthor.js"></script>
</div>
