<p>Bugs relate to <%= project%> project</p>
<div class="projectDetail">
  <p>Project Name -> <%= project.projectname%></p>
  <p>Author Name -> <%= project.author%></p>
  <p>Author Name -> <%= project.description%></p>
  <div>
    <a href="/issue/reportIssue/<%= project._id %>">Report Issue</a>
  </div>
  <div id="reportissue">Report issue</div>
</div>
