<div class="filters">
  <div class="filter-labels">
    <form action="/issue/filterissue" method="post">
      <select name="label1">
        <% for( op of labelsonCurr ) {%>
        <option value="<%= op %>"><%= op %></option>

        <%}%>
      </select>
      <select name="label2">
        <% for( op of labelsonCurr ) {%>
        <option><%= op %></option>

        <%}%>
      </select>
      <input type="text" placeholder="Search Author" name="searchAuthor" />
      <input type="hidden" name="projectId" value="<%= project._id %>" />
      <input type="submit" value="search" />
    </form>
  </div>
  <div>
    <!-- form for search title and description -->
    <form id="searchAuthor" action="/issue/filterissue" method="post">
      <input
        type="text"
        name="serchBtTitNDesc"
        placeholder="Enter title or description to be searched"
      />
      <input type="hidden" value="<%= project._id %>" name="projectId" />
      <input type="submit" value="Search" />
    </form>
  </div>
</div>
<div id="projectDetSection">
  <% if(showProjectDet) {%>
  <p>Bugs relate to <%= project.projectname%> project</p>
  <div class="projectDetail">
    <p>Project Name -> <%= project.projectname%></p>
    <p>Author Name -> <%= project.author%></p>
    <p>Author Name -> <%= project.description%></p>

    <div class="issuebox">
      <ul>
        <% for(isdec of issue ){ %>
        <li>
          <div>issue Title: <%= isdec.title %></div>
          <div>description : <%= isdec.description %></div>
          <div>Author: <%= isdec.author %></div>
          Lable:-> <% for(label of isdec.labels){ %> <%= label %> <%}%>
        </li>
        <%}%>
      </ul>
    </div>
    <div>
      <a href="/issue/reportIssue/<%= project._id %>">Report Issue</a>
    </div>
    <div id="reportissue">Report issue</div>
  </div>
  <% } %> <% if(!showProjectDet) {%> <% for(i of filterdata) {%>
  <div>
    <p><%= i.title %></p>
    <p><%= i.description %></p>
    <p><%= i.labels %></p>
    <p><%= i.author %></p>
  </div>

  <!--  -->
  <%}%>
  <!--  -->
  <%}%>
  <script src="/js/searchAuthor.js"></script>
</div>
